<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<filter>
		<filter-name>scalatra</filter-name>
		<filter-class>com.gu.upcoming.servlets.UpcomingServlet</filter-class>
	</filter>
	
	<filter>
		<filter-name>management</filter-name>
		<filter-class>com.gu.upcoming.filters.Management</filter-class>
	</filter>
	
    <filter>
        <filter-name>request-logging</filter-name>
        <filter-class>com.gu.management.request.RequestLoggingFilter</filter-class>
    </filter>

    <filter>
        <filter-name>server-errors</filter-name>
        <filter-class>com.gu.management.request.ServerErrorResponseCaptureFilter</filter-class>
    </filter>

    <filter>
        <filter-name>client-errors</filter-name>
        <filter-class>com.gu.management.request.ClientErrorResponseCaptureFilter</filter-class>
    </filter>

    <filter>
        <filter-name>exception-filter</filter-name>
        <filter-class>com.gu.management.request.ExceptionCaptureFilter</filter-class>
    </filter>	

	<filter>
		<filter-name>openid-filter</filter-name>
		<filter-class>com.gu.upcoming.filters.Admin</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>scalatra</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>management</filter-name>
		<url-pattern>/management/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
        <filter-name>request-logging</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>server-errors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>client-errors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>exception-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<filter-mapping>
		<filter-name>openid-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>